Application Profile/ldc.xsd

<?xml version="1.0"?>
<!--
Metadata summer 2020
XML Schema definition for Life During COVID-19 digital library collection
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           elementFormDefault="qualified">
    
    <!-- Import Dublin Core Schema -->
    <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="https://www.dublincore.org/schemas/xmls/qdc/dc.xsd" />
    
    <!-- Define collection elements - local and DC -->

    <xs:element name="ldcCollection">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ldcItem">
                    <xs:complexType>
                        <xs:sequence>
    
                            <xs:element name="title" type="dc:SimpleLiteral"/> <!-- DUBLIN CORE -->
    
                            <xs:element name="collection" type="xs:string"/>
    
                            <xs:element name="agent">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="role" type="roleType" />
                                        <xs:element name="affiliation" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element> 

                            <xs:element name="organizationType" type="organizationPlusAuthority" />

                            <xs:element name="subject" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="topic" type="stringPlusAuthority" />
                                        <xs:element name="category" type="categoryPlusAuthority" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
 
                            <xs:element name="description" type="dc:SimpleLiteral" /> <!-- DUBLIN CORE -->

                            <xs:element name="temporalRelevance" type="xs:string" />
                            <xs:element name="temporalCoverage" type="xs:string" />

                            <xs:element name="spatialCoverage" />  

                            <xs:element name="country" type="countryType" />
    
                            <xs:element name="fileFormat" type="xs:string" />
                            <xs:element name="size" type="xs:string" />
    
                            <xs:element name="datePublished" type="xs:date"  />
                            <xs:element name="source" type="xs:anyURI" />
                            <xs:element name="dateSourced" type="xs:date" />
                            <xs:element name="dateCopyrighted" type="dc:SimpleLiteral" /> <!-- DUBLIN CORE -->

                            <xs:element name="granularity" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="relation" type="xs:string" />
                                        <xs:element name="aggregationSpan" type="agg-spanType" />
                                        <xs:element name="aggregationLevel" type="agg-levelType" />
                                        <xs:element name="demographic" type="demographicPlusAuthority" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
 
                            <xs:element name="language" type="dc:SimpleLiteral"/> <!-- DUBLIN CORE -->
                            <xs:element name="rights" type="dc:SimpleLiteral"/> <!-- DUBLIN CORE -->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Define global types -->
    
    <!-- Define simple data type for enumeration values of controlled vocabulary authority schemas -->
    <xs:simpleType name="vocabularyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Library of Congress Subject Headings"/>
            <xs:enumeration value="Medical Subject Headings 2020"/>
            <xs:enumeration value="AFS Ethnographic Thesaurus"/>
            <xs:enumeration value="Inter-university Consortium for Political and Social Research (ICPSR) Thesaurus"/>
            <xs:enumeration value="Getty Thesaurus of Geogrphic Names"/>
            <xs:enumeration value="Media Types"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Define simple data type for URI pattern -->
    <!--
    <xs:simpleType name="uriType">
        <xs:restriction base="xs:string">
            <xs:pattern value="http://.*"/>
        </xs:restriction>
    </xs:simpleType>
    -->
    <!-- Define simple data type for fileFormat pattern -->
    <!--
    <xs:simpleType name="mimeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]+/[a-zA-Z0-9_.-\+]+"/>
        </xs:restriction>
    </xs:simpleType>
    -->
    
    <!-- Define simple data type for enumeration values of role element -->
    <xs:simpleType name="roleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Creator"/>
            <xs:enumeration value="Contributor"/>
            <xs:enumeration value="Publisher"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Define simple data type for enumeration values of organizationType element -->
    <xs:simpleType name="organizationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Businesses"/>
            <xs:enumeration value="Government"/>
            <xs:enumeration value="Higher Education"/>
            <xs:enumeration value="News Media"/>
            <xs:enumeration value="Nonprofit Organizations"/>
            <xs:enumeration value="Health Care"/>
            <xs:enumeration value="Persons"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Define simple data type for enumeration values of category element -->
    <xs:simpleType name="categoryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Coronavirus"/>
            <xs:enumeration value="Covid-19"/>
            <xs:enumeration value="Diagnosis"/>
            <xs:enumeration value="Facts"/>
            <xs:enumeration value="Instruction"/> <!-- Prevention and treatment for the general public -->
            <xs:enumeration value="Methods"/> <!-- Professional methods (instructions) for health care providers -->
            <xs:enumeration value="Misinformation"/>
            <xs:enumeration value="Medical Policy"/>
            <xs:enumeration value="News"/>
            <xs:enumeration value="Opinions"/>
            <xs:enumeration value="Personal Narratives"/>
            <xs:enumeration value="Quarantine"/>
            <xs:enumeration value="Stay-At-Home"/>
            <xs:enumeration value="Vaccination"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Define simple data type for enumeration values of country element 
        Add more countries if collection is expanded beyond the USA -->
    <xs:simpleType name="countryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="United States" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Define simple data type for enumeration values of aggregationSpan element -->
    <xs:simpleType name="agg-spanType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hourly"/>
            <xs:enumeration value="daily"/>
            <xs:enumeration value="weekly"/>
            <xs:enumeration value="monthly"/>
            <xs:enumeration value="quarterly"/>
            <xs:enumeration value="annually"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Define simple data type for enumeration values of aggregationLevel element -->
    <xs:simpleType name="agg-levelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="counts"/>
            <xs:enumeration value="mean"/>
            <xs:enumeration value="median"/>
            <xs:enumeration value="percent"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Define simple data type for enumeration values of demographic element -->
    <xs:simpleType name="demographicType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Age"/>
            <xs:enumeration value="Ethnicity"/>
            <xs:enumeration value="Gender"/>
            <xs:enumeration value="Race"/>
            <xs:enumeration value="Socioeconomic Status"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Define global attributes for controlled vocabulary authority attributes -->
    <xs:complexType name="demographicPlusAuthority">
        <xs:simpleContent>
            <xs:extension base="demographicType">
                <xs:attributeGroup ref="authorityAttributeGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="organizationPlusAuthority">
        <xs:simpleContent>
            <xs:extension base="organizationType">
                <xs:attributeGroup ref="authorityAttributeGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="categoryPlusAuthority">
        <xs:simpleContent>
            <xs:extension base="categoryType">
                <xs:attributeGroup ref="authorityAttributeGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="stringPlusAuthority">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="authorityAttributeGroup"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:attributeGroup name="authorityAttributeGroup">
        <xs:attribute name="authority" type="xs:string"/>
        <xs:attribute name="authorityURI" type="xs:anyURI"/>
        <xs:attribute name="valueURI" type="xs:anyURI"/>
    </xs:attributeGroup>
    
</xs:schema>